*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain light";
}
body,html{
    height: 100%;
    width: 100%;
}
#crsr{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    /* background-color: transparent; */
    border: 1px solid rgba(235, 233, 233, 0.792);
    position: fixed;
    z-index: 999;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
}
#loader{
    height: 100%;
    width: 100%;
    z-index: 999;
    position: fixed;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items:start;
    justify-content:left;
    gap:3vw;
    
}
#line1-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.8vw
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3.2vw;
    font-weight: 100;
    font-family: "silk serif light";
}
#line1-part1 h5{
    width:5vw;
    text-align: right;
}
.line h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    /* background-color: yellow; */
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 900;
    animation-name: anime;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: "pain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "pain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
    
}
main{
    position: relative;
    background-color: #111;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #1e1e1e;
}
#page1 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.3vh 6vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}
#nav-part2 h4{
    font-weight: 100;
    font-size: 15px;
}
.hero{
    margin-left: 27.5%;
    width: 55%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}
.hero:nth-child(2){
    margin-top: 7.5%;
}

.hero h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 7.5vw;
    word-spacing:-0.4vw;
    font-weight: 500;
    font-family: "Plain regular";
}
#hero3 h2{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 7.5vw;
    word-spacing:-0.4vw;
    font-weight: 500;
    font-family: "Plain regular";
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
}
#hero3 h2:nth-child(2){
    border-bottom-color: transparent;
}
#hero3 h2:hover{
    -webkit-text-stroke:1px #fff; 
    color: transparent;
    font-weight: 500;
    border-bottom-color: transparent;
}
